body {
	background-size: 40px 40px;
	background-image: radial-gradient(circle, #5A5A5A 1px, rgba(0, 0, 0, 0) 1px);
}

.selected-button {
	background-color: #000000;
}

.selected-button > img {
	--tw-invert: invert(100%);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

}

.true-property {
	color: #34D399 !important;
	border-width: 2px !important;
	border-color: #065F46 !important;
}
